<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bus By Brandon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/bus.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    	var login = document.getElementById("login")
    	function doLogin() {

    	}

    	$(document).ready(function() {
		    $('.commentarea').keydown(function(event) {
		        if (event.keyCode == 13) {
		            this.form.submit();
		            return false;
		         }
		    });
		});

    </script>
</head>
    
<body>
	<div class="container">
		<div class="content">
			<span class="input input--ruri">
				<form>
					<input class="input__field input__field--ruri" type="text" id="input-26" />
					<label class="input__label input__label--ruri" for="input-26">
						<span class="input__label-content input__label-content--ruri">Who are you?</span>
					</label>
				</form>
			</span>

<!-- 			<input id="login" type="text" name="login" placeholder="Who are you?">
 -->			
 			<h1 id="display">Collecting location data.</h1>
		</div>
	</div>
	<script>
		var display = document.getElementById("display");
		// window.onload = 
		function getLocation() {
		    if (navigator.geolocation) {
		        navigator.geolocation.getCurrentPosition(showPosition);
		    } else {
		        display.innerHTML = "Geolocation is not supported by this browser.";
		    }
		};
		function showPosition(position) {
		    display.innerHTML = "Latitude: " + position.coords.latitude + 
		    "<br>Longitude: " + position.coords.longitude; 
	        $.ajaxSetup({
				cache: false,
				async: false
			});
			$.ajax({
				type: "POST",
				dataType: "json",
				url: "https://1232bb25.ngrok.io/bus",
				data: {"lat": position.coords.latitude, "lng": position.coords.longitude},
				success: function(response, textStatus, jqXHR) {
					alert("Yay!");
				}
			});
		}
	</script>

	<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
	<script>
		(function() {
			// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
			if (!String.prototype.trim) {
				(function() {
					// Make sure we trim BOM and NBSP
					var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
					String.prototype.trim = function() {
						return this.replace(rtrim, '');
					};
				})();
			}
			[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
				// in case the input is already filled..
				if( inputEl.value.trim() !== '' ) {
					classie.add( inputEl.parentNode, 'input--filled' );
				}
				// events:
				inputEl.addEventListener( 'focus', onInputFocus );
				inputEl.addEventListener( 'blur', onInputBlur );
			} );
			function onInputFocus( ev ) {
				classie.add( ev.target.parentNode, 'input--filled' );
			}
			function onInputBlur( ev ) {
				if( ev.target.value.trim() === '' ) {
					classie.remove( ev.target.parentNode, 'input--filled' );
				}
			}
		})();
	</script>

</body>
</html>