<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bus By Brandon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/bus.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="content">
			<span class="input input--ruri" id="authSpan">
			<!-- action="{{ url_for('login') }}" -->
				<form onsubmit="return doLogin()">
					<input name="user" class="input__field input__field--ruri"  type="text" id="username" autocomplete="off" />
					<label class="input__label input__label--ruri" for="username">
						<span class="input__label-content input__label-content--ruri" id="label">Who are you?</span>
					</label>
				</form>
			</span>
<!-- 			<input id="login" type="text" name="login" placeholder="Who are you?">
 -->			
 			<h1 id="display">Collecting location data.</h1>
		</div>
	</div>
	<script>
		var display = document.getElementById("display");
		var form = document.getElementById("username");
		var label = document.getElementById("label");
		var span = document.getElementById("authSpan");
		function doLogin() {
			var username = String(form.value);
			$.ajax({
				type: "POST",
				dataType: "text",
				url: "{{ url_for('login') }}",
				data: {"user": username},
				success: function(response, textStatus, jqXHR) {
					if (response == 'OK') {
						label.style.color = "black";
						label.innerHTML = "Welcome."
						authSpan.display = "none";
						display.display = "block";
						getLocation();
					}
					else {
						label.style.color = "red";
						label.innerHTML = "Sorry, you're not a member of the club :(";
					}
				}
			});
			return false;
		}
		function getLocation() {
			alert('Getting location');
		    if (navigator.geolocation) {
		        navigator.geolocation.getCurrentPosition(showPosition);
		    } else {
		        display.innerHTML = "Geolocation is not supported by this browser.";
		    }
		};
		function showPosition(position) {
		    display.innerHTML = "Latitude: " + position.coords.latitude + 
		    "<br>Longitude: " + position.coords.longitude; 
	        $.ajaxSetup({
				cache: false,
				async: false
			});
			$.ajax({
				type: "POST",
				dataType: "json",
				url: "{{ url_for('bus') }}",
				data: {"lat": position.coords.latitude, "lng": position.coords.longitude},
				success: function(response, textStatus, jqXHR) {
					alert("Yay!");
				}
			});
			return false;
		}
	</script>

	<!-- Scripts for frontend animation -->
	<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
	<script>
		(function() {
			// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
			if (!String.prototype.trim) {
				(function() {
					// Make sure we trim BOM and NBSP
					var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
					String.prototype.trim = function() {
						return this.replace(rtrim, '');
					};
				})();
			}
			[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
				// in case the input is already filled..
				if( inputEl.value.trim() !== '' ) {
					classie.add( inputEl.parentNode, 'input--filled' );
				}
				// events:
				inputEl.addEventListener( 'focus', onInputFocus );
				inputEl.addEventListener( 'blur', onInputBlur );
			} );
			function onInputFocus( ev ) {
				classie.add( ev.target.parentNode, 'input--filled' );
			}
			function onInputBlur( ev ) {
				if( ev.target.value.trim() === '' ) {
					classie.remove( ev.target.parentNode, 'input--filled' );
				}
			}
		})();</script>

</body>
</html>