html, body, .container, .content {
    height: 100%;
    width: 100%;
}

.container {
    vertical-align: middle;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 10%;
}